{{ define "main" }}
{{ partial "header" . }}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <h1 class="mx-0 mx-md-4 single-page-title">{{ .Title }}</h1>
        <div class="markdown page-content">
          Keyboard enjoyer, Topre appreciator, attempting designer.</br>
          </br>
          I will use this blog to post projects and thoughts on the scene/keyboard topic in general.</br>
          </br>
          Open for collaborations or discussions.</br></br>
        </div>
      </div>
      {{ partial "footer" . }}
    </div>
  </div>
</div>
{{ end }}